{% extends 'partials/body.html' %}

{% block content %}
{% load crispy_forms_tags %}
<style>
    .help-block {
    display: none;   
    }
    ul{
        display: none;
    }
</style>
    <div class="container shadow w-50 h-75 text-center rounded mt-2">
        <h1>Crear Usuario</h1>

        <form action="" method="POST">
            {% csrf_token %}
            {{form  | crispy}}
            <div class="container py-3">
                <div class="d-grid gap-2 d-md-block">
                <button class="mt-2 btn btn-success">
                    Guardar
                </button>
                    <button type="reset" class="mt-2 btn btn-danger">
                            Limpiar
                    </button>
                    </div>
            </div>
        </form>    
        <div class=" my-3 text-danger">
            {{error}}
        </div>
    </div>
{% endblock %}      