<footer>
    {% load static %}
    <div class="container text-muted text-center mt-4">
        <p> © 2022 Derechos reservados contraloría departamental del Tolima</p>
        <div class="row d-inline-flex">
            <div class="col-2">
                <a href="https://www.facebook.com/contraloriadepartamentaldeltolima.contraloria" target="_blank">
                    <img src="{% static  'img/facebook.png' %}" alt="logo_facebook" width="32px">
                </a>       
            </div>
            <div class="col-2">
                    <a href="https://www.youtube.com/user/CDTOLIMA" target="_blank">
                        <img src="{% static  'img/youtube.png' %}" alt="logo_youtube" width="32px">
                    </a>
                 </div>
            <div class="col-2">
                <a href="https://twitter.com/Controltolima" target="_blank">
                    <img src="{% static  'img/twitter.png' %}" alt="logo_twitter" width="32px">
                </a>
            </div>
            <div class="col-2">
                <a href="https://www.instagram.com/contraloriatolima/" target="_blank">
                    <img src="{% static  'img/instagram.png' %}" alt="logo_instagram" width="32px">
                </a>
            </div>
        </div>
    </div>
</footer>