
<!-- Modal -->
<div class="modal fade" id="modalEliminar{{usuario.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmar Eliminación de registro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
          Esta seguro que desea eliminar el usuario: <strong>{{usuario.nombres}} {{usuario.apellidos}}</strong>
          identificado con documento:<strong>{{usuario.documento}}</strong>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
          <form method= POST action="{% url 'usuarios_eliminar' pk=usuario.id %}">
            {% csrf_token %}
            <input type="text" value="{{usuario.id}}">
            <button type="submit"  class="btn btn-danger">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  