{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña</title>
</head>

{% include 'partials/header.html' %}
<div class="row justify-content-center">
  <div class="card text-center W-50 mt-5">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <h1><b>Cambiar contraseña</b></h1>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Estas a punto de cambiar la contraseña, ingresa nueva contraseña.</p>
      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <i class="fa-sharp fa-solid fa-lock pt-3"></i>
          <input type="password" class="form-control ms-3" placeholder="Contraseña">
        </div>
        <div class="input-group mb-3">
          <i class="fa-sharp fa-solid fa-lock pt-3"></i>
          <input type="password" class="form-control ms-3" placeholder="Contraseña">
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-success btn-block">Cambiar contraseña</button>
          </div>
        </div>
      </form>
</div>
      <a href="{% url 'inicio' %}">Login</a>
    </p>
  </div>
</div>
</div>
</body>
<script src="https://kit.fontawesome.com/5ac4c3813c.js" crossorigin="anonymous"></script>
{% include 'partials/footer.html' %}